html
  head
    title= title
  body
    header
      h1 Poll: #{question}
  .main
    p By #{author}
    p Options:
      each choice in choices
        .choice
          p Choice: #{choice.choiceText}  #[span Votes: #{choice.votes}]



